div.vm-header-logo {border-top-width:10px;border-top-style:solid;border-top-color:#008AFF;padding-top: 2px;padding-bottom: 5px;height: 65px;}
.vm-footer-strip{border-bottom-color:#008AFF;border-bottom-width:50px;border-bottom-style:solid;}
.vm-header-logo-text {font-family:Buxton Sketch; font-size: 25px;font-weight: bold;padding-left: 10px; color: #F01D4F;PADDING-TOP: 15px;}
.vm-dot {webkit-border-radius: 10px;-moz-border-radius: 20px;-ms-border-radius: 20px;-o-border-radius: 20px;border-radius: 20px;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.23);-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.23);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.23);display: inline-block;height:40px;margin: 8px 0px 0 0px;width: 40px;background: #008AFF;text-align: center;vertical-align: middle;}
.vm-dot-text{font-family:Buxton Sketch; font-size: 20px;font-weight: bold;vertical-align: middle; padding-top: 10px;color: #FFFFFF;}
#post p {line-height: 20px;font-size: 12px;width: auto;text-align: justify;margin: 10px 0 10px 0;color: #555;font-family: "Helvetica Neue", Helvetica, sans-serif;}


/*Festival List Entry Styling*/
.vm-festival-list-wrapper{position:absolute;width:100%;height:100%;}
/*Div Class styling for the right side description box, added a border and float left*/
.vm-festival{font-family: helvetica, Arial; font-size: 12px; padding:2px;overflow: hidden;height: 50px;width: 80%}
.vm-festival-title {font-weight: bold; margin: 0px;color: rgb(39,39,39);overflow: hidden;}
.vm-festival-timings {font-weight: bold; float: right; color:#008AFF;padding-right: 10px;}
.vm-festival-content {padding: 2px;color: rgb(165,165,165);}
/*Div Class styling for the left side date box, added a border and float left*/
.vm-datebox{float:left;display:inline;padding:5px; background:#F2F2F2; border:#F2F2F2 solid 3px;overflow: hidden;height: 40px;width:10%;}
.vm-date-datebox{font:18px arial bold;text-align:center;}
.vm-dayofweek-datebox{font:10px Arial bold;text-align:center;vertical-align: middle;text-transform: uppercase;}

/*Table less approach to display key-value details*/
.vm-profile{font-family: Arial;font-size:12px;}
.vm-profile-key{display:block;font-weight:bold;text-align:right;width:75px;float:left;}
.vm-profile-value{float:left;font-size:12px;width:200px;margin:0px 0 0px 10px;color: rgb(165,165,165);}