<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" restartOnExternalChanges="false" />
    <sectionGroup name="spring">
      <section name="typeAliases" type="Spring.Context.Support.TypeAliasesSectionHandler, Spring.Core"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
      <section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>
  <spring>
    <context>     
      <resource uri="~/Configs/ioc.xml"/>     
    </context>
    <typeAliases>
      <!-- needed if custom types need to be 
           registered with the web service exporter -->
      <!--<alias name="XmlInclude"
        type="System.Xml.Serialization.XmlIncludeAttribute, System.Xml"/>-->
    </typeAliases>
  </spring>
  <log4net threshold="OFF">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] -  %message%newline"></conversionPattern>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"></level>
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <!--To open the ravenDb use the below link -->
    <!--https://1.ravenhq.com/raven/studio.html#/home?api-key=56dbc5b8-e0c1-491c-83e3-af765480991f&database=AppHarbor_3157f354-b154-46d9-8252-7ac720e24f6d-->  
    <add key ="RavenDb-Url" value="https://1.ravenhq.com/databases/AppHarbor_3157f354-b154-46d9-8252-7ac720e24f6d"/>
    <add key ="RavenDb-Api" value="56dbc5b8-e0c1-491c-83e3-af765480991f"/>
    <add key ="RavenDb-Database" value="AppHarbor_3157f354-b154-46d9-8252-7ac720e24f6d"/>
    <!--https://1.ravenhq.com/raven/studio.html#/home?api-key=56dbc5b8-e0c1-491c-83e3-af765480991f&database=AppHarbor_3157f354-b154-46d9-8252-7ac720e24f6d-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </httpHandlers>
    <httpModules>
      <add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </handlers>
  </system.webServer>
</configuration>
